@model IList<DeliciousMeals.Models.Invoice>
@{
    ViewData["Title"] = "Invoice";
}

@{
    if(TempData["Response"] != null)
    {
        <div class="alert alert-warning">
            @TempData["Response"]
        </div>
    }
    else
    {
        <div class="container">
                    
            <h1 class="display-5 text-center"> Invoice </h1>
                    
            <table class="table mt-5">
                        
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price (ZAR)</th>
                        <th>Date Generated</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                if(Model != null)
                {
                    foreach(Invoice inv in Model)
                    {
                        if(inv != null)
                        {
                            <tr>
                                <td>@inv.MealName</td>
                                <td>@inv.Quantity</td>
                                <td>@inv.Price</td>
                                <td>@inv.DateGenerated</td>
                            </tr>
                        }
                    }
                }                        
                    }
                </tbody>

            </table>                  

            <div class="container text-center mt-4">
            <a class="btn btn-danger" role="button" asp-action="DeleteInvoice" asp-controller="Home">Delete Invoice</a>
            </div>
        </div>        
    }
}